---
- name: Deploy Node.js Worker for Asterisk Control
  hosts: asterisk
  become: yes
  vars_files:
    - group_vars/asterisk.yml

  tasks:
    - name: Ensure Node.js worker directory exists
      file:
        path: "{{ nodejs_worker_dir }}"
        state: directory
        owner: ec2-user
        group: ec2-user
        mode: '0755'

    - name: Copy Node.js worker files
      synchronize:
        src: ../src/lambda/dialer-worker/
        dest: "{{ nodejs_worker_dir }}/"
        delete: yes
        rsync_opts:
          - "--exclude=node_modules"
          - "--exclude=.git"
          - "--exclude=*.log"

    - name: Set ownership of worker files
      file:
        path: "{{ nodejs_worker_dir }}"
        owner: ec2-user
        group: ec2-user
        recurse: yes

    - name: Install Node.js dependencies
      npm:
        path: "{{ nodejs_worker_dir }}"
        state: present
        production: yes
      become_user: ec2-user

    - name: Create systemd service file
      template:
        src: templates/asterisk-worker.service.j2
        dest: /etc/systemd/system/asterisk-worker.service
        owner: root
        group: root
        mode: '0644'

    - name: Reload systemd daemon
      systemd:
        daemon_reload: yes

    - name: Enable and start Node.js worker service
      systemd:
        name: asterisk-worker
        enabled: yes
        state: restarted

    - name: Wait for Node.js worker to start
      wait_for:
        port: "{{ nodejs_worker_port }}"
        delay: 2
        timeout: 30

    - name: Check Node.js worker status
      systemd:
        name: asterisk-worker
        state: started
      register: worker_status

    - name: Display worker status
      debug:
        msg: "Node.js worker is {{ worker_status.status.ActiveState }}"

    - name: Test Node.js worker health endpoint
      uri:
        url: "http://localhost:{{ nodejs_worker_port }}/health"
        method: GET
        status_code: 200
      register: health_check
      ignore_errors: yes

    - name: Display health check result
      debug:
        msg: "Health check: {{ health_check.status }} - {{ health_check.json | default('No response') }}"
